body{
 background-color: rgb(181, 231, 229);
 text-align: center;
}
h1 {
    font-style: italic;
    color: rgb(236, 9, 46);
    font-size: larger;
}
h2 {
    color: rgb(14, 28, 229);
    font-weight:200;
}

.imagem {
    width: 50%;
}
.imagem2 {
 width: 40%;
}
.lista {
    text-align: left;
    color: rgba(250, 213, 91, 0.598);
}
.pizza {
    color: rgb(57, 92, 100);
}
